<div class="not-found-container">
  <div class="content">
    <h1 class="error-code">404</h1>
    <h2 class="error-title">Oops! Page Not Found</h2>
    <p class="error-message">
      The page you are looking for might have been removed, had its name
      changed, or is temporarily unavailable.
    </p>

    <div class="btn-container">
      <button class="btn-back" (click)="goBack()">Go Home</button>
    </div>
  </div>

  <!-- Right Section with an Animated Image -->
  <div class="image-container">
    <img
      src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif"
      alt="Page Not Found"
    />
  </div>
</div>
